<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="scot.raven.titanpad">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="rikka.shizuku.permission.API" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.HOME" />
        </intent>
    </queries>

    <application
        android:name=".TitanPad"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TitanPad">

        <activity
            android:name=".settings.ui.setup.DisclosureActivity"
            android:exported="true"
            android:theme="@style/Theme.TitanPad">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".settings.ui.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.TitanPad"
            android:parentActivityName=".settings.ui.setup.DisclosureActivity" />

        <activity
            android:name=".settings.ui.setup.UsageConfigurationActivity"
            android:exported="false"
            android:theme="@style/Theme.TitanPad"
            android:parentActivityName=".settings.ui.SettingsActivity" />

        <activity
            android:name=".settings.ui.setup.TutorialActivity"
            android:exported="false"
            android:theme="@style/Theme.TitanPad"
            android:parentActivityName=".settings.ui.SettingsActivity" />

        <activity
            android:name=".settings.ui.cursor.CursorIconActivity"
            android:exported="false"
            android:theme="@style/Theme.TitanPad"
            android:parentActivityName=".settings.ui.setup.UsageConfigurationActivity" />

        <activity
            android:name=".settings.ui.cursor.LocationClickableIconActivity"
            android:exported="false"
            android:theme="@style/Theme.TitanPad"
            android:parentActivityName=".settings.ui.setup.UsageConfigurationActivity" />

        <activity
            android:name=".settings.ui.cursor.ClickableAppsActivity"
            android:exported="false"
            android:theme="@style/Theme.TitanPad"
            android:parentActivityName=".settings.ui.setup.UsageConfigurationActivity" />

        <activity
            android:name=".settings.ui.scroll.ScrollSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.TitanPad"
            android:parentActivityName=".settings.ui.setup.UsageConfigurationActivity" />

        <activity
            android:name=".settings.ui.scroll.WheelSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.TitanPad"
            android:parentActivityName=".settings.ui.setup.UsageConfigurationActivity" />

        <activity
            android:name=".settings.ui.activation.ActivationActivity"
            android:exported="false"
            android:theme="@style/Theme.TitanPad"
            android:parentActivityName=".settings.ui.setup.UsageConfigurationActivity" />

        <activity
            android:name=".settings.ui.activation.AutoHideSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.TitanPad"
            android:parentActivityName=".settings.ui.SettingsActivity" />

        <activity
            android:name=".settings.ui.cursor.SoftwareEmulationSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.TitanPad"
            android:parentActivityName=".settings.ui.SettingsActivity" />

        <activity
            android:name=".settings.ui.setup.DebugOptionsActivity"
            android:exported="false"
            android:theme="@style/Theme.TitanPad"
            android:parentActivityName=".settings.ui.SettingsActivity" />

        <activity
            android:name=".settings.ui.setup.SetupOptionsActivity"
            android:exported="false"
            android:theme="@style/Theme.TitanPad"
            android:parentActivityName=".settings.ui.SettingsActivity" />


        <activity
            android:name=".settings.ui.activation.AutoHideAppsActivity"
            android:exported="false"
            android:theme="@style/Theme.TitanPad"
            android:parentActivityName=".settings.ui.activation.AutoHideSettingsActivity" />

        <activity
            android:name=".settings.ui.activation.AutoEnableAppsActivity"
            android:exported="false"
            android:theme="@style/Theme.TitanPad"
            android:parentActivityName=".settings.ui.setup.UsageConfigurationActivity" />

        <activity
            android:name=".shortcuts.StandardCursorCreateShortcutActivity"
            android:exported="true"
            android:label="Activate Standard Cursor"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".shortcuts.StandardCursorActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:launchMode="singleInstance" />

        <service
            android:name=".accessibility.AppAccessibilityService"
            android:exported="false"
            android:label="@string/accessibility_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:ignore="AccessibilityPolicy">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:multiprocess="false"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL" />

    </application>
</manifest>